.product-form-group {
  width: 100%;
  margin-bottom: 0;
}

.product-qrcode {
  min-height: 250px;
  min-width: 250px;
}

.product-qrcode-generator-title {
  margin-bottom: 20px;
  text-align: center;
}

.product-qrcode-generator .product-typeahead {
  width: 100%;
}

.product-list-group .list-group-item {
  display: none;
}

.empty-product-item-message {
  display: block;
}

.product-list-group .list-group-item:hover .media-actions {
  display: block;
}

.media-actions {
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 28px;
  line-height: 0;
  display: none;
}

.media-actions a:hover {
  text-decoration: none;
  color: #dd5a43;
}

.empty-product-message {
  padding: 5px 10px;
  text-align: center;
}

.product-list-group form {
  margin-top: 15px;
}

.product-list-group .form-actions {
  margin-bottom: 0;
  padding: 9px 10px 0 20px
}

/* SKU选择器 */
.sku-selectors {
  padding-top: 7px;
}

.sku-selectors li {
  margin-right: 2px;
  display: inline-block;
}

.sku-selectors li span {
  display: inline-block;
  padding: 3px 6px;
  background-color: #f3f3f3;
  border: 1px solid #dbdbdb;
  font-size: 12px;
  cursor: pointer;
}

.sku-selectors li.active span { /* csslint allow: overqualified-elements */
  border: 2px solid #d50;
  margin: -1px;
}

.quantity-spinner {
  width: 100px;
}

.sku-selectors, .quantity-spinner .input-group-addon {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.quantity-spinner .quantity {
  font-size: 13px;
  padding: 5px 6px;
}

.sku-quantity-text {
  margin-left: 1em;
}

.qrcode-actions {
  margin: 30px
}

.download-qrcode {
  width: 60%
}
